.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0; /* Optional: Set a background color */
}

.scale-container {
    margin-top: 69px;
    transform: scale(1.3); /* 1.5 means 150% of its original size */
    transform-origin: center; /* Ensure it scales from the center */
}
